---
title: Nuestra historia
hero: Nuestra historia
---

<p class="editor-link" style="text-align: center; position: relative;
    top: -185px;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="staff-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
			<div class="name">{{ person.name }}</div>
		</li>
	{% endfor %}
</ul>

<div class="thirds story-points">
	<div>
		<h3 class="editable">Misión</h3>
		<p class="editable">Nuestra misión es hacer crecer nuestra empresa de manera rentable al comprender las necesidades de nuestros clientes, centrándonos en la calidad del producto y en un diseño mas innovador.</p>
	</div>
	<div>
		<h3 class="editable">Visión</h3>
		<p class="editable">Nuestra visión darnos a conocer de manera estatal. Siendo el refelejo de las mujeres y hombres modernos, creando clientes leales a nuestra marca, mateniendo nuestra calidad  y asi ser un apoyo a causas ambientales , promoviendo el cuidado de las especies por medio de la información que contendran nuestro producto.</p>
	</div>
	<div>
		<h3 class="editable">Estilo</h3>
		<p class="editable">El nombre de la empresa surgió por que representa la vida marina. Por que bio de “vida” entonces representa la vida marina, la cual va relacionada a nuestro producto.</p>
	</div>
</div>
